.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.App-link {
  color: #61dafb;
}

.App img{
  box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  width: 45%;
  margin-top: 25px;
}

.App h1 {
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
}
p, li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}
h2 {
  font-family: 'Nunito Sans', sans-serif; 
}
.App h3 {
  font-family: 'Nunito Sans', sans-serif;
}
#cardTitle{
  color: black;
}
#cardTitle:hover {
  color: black;
}
.toCourse .course{
  margin-bottom: 20px;
}
#coursePrice{
  color: white;
    background-color: lightgreen;
    width: 100px;
    position: absolute;
    font-size: 15px;
    top: 82%;
    border-radius: 5px;
    left: 68%;
}
.toCourse p{
  color: #888
}
.btn-danger {

  font-size: 16px;
  font-weight: 600;
  background-color: #FF5C5F;
  border-color: #FF5C5F;
  padding: 15px;
  border-radius: 25px;
  margin-top:15px;
  margin-bottom: 15px;

}

.HowItWorks {

}
#Lessons{
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#emailSubmit:focus{
  outline: none;
}
#submitForm {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  background-color: white;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}
