.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

.App img{
  box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  width: 45%;
  margin-top: 25px;
}

.App h1 {
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
}

.App h3 {
  font-family: 'Nunito Sans', sans-serif;
}

.btn-danger {
  font-size: 16px;
  font-weight: 600;
  background-color: #FF5C5F;
  border-color: #FF5C5F;
  padding: 15px;
  border-radius: 25px;

}
#Lessons{
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
